<div class="main-background">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="main-text">
          Create your own digital GURPS Character Sheet for free!
        </div>
        <button class="get-started-button">Get started!</button>
      </div>
    </div>
  </div>
</div>



<!-- <h2>Home</h2>
ddddf
<p data-bind='text: message'></p>

<button data-bind='click: doSomething'>Click me</button>

<button data-bind='click: login'>Login</button>
<button data-bind='click: isLoggedIn'>Who am I</button>
<button data-bind='click: logout'>Logout</button>
</br>
<span data-bind='text: username'></span> -->
