/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "compass/reset";
@import url(https://fonts.googleapis.com/css?family=Righteous);

$main: #1C1F1C;
$lightmain: #262925;
$superbright: #68BB68;
$bright: #497049;
// $light: #;
$medium: #2c502c;
$dark:#157515;
// $darkest: #;

body{
  font-family: 'Righteous', cursive;
  color: white;
  background-color: $main;
}

.component-background{
  background-color: $lightmain;
  margin-top: -30px;
}

footer{
  background-color: $main;
  color: white;
  border-top: 1px solid $bright;
}

.footer-content{
  text-align: center;
  margin: 50px;
}

#page{
  margin-top: 80px;
}

.testdiv{
  background-color: $main;
}

.navminheight{
  height: 400px;
}

$bgDefault      : #1c1f1c;
$bgHighlight    : #497049;
$colDefault     : #ffffff;
$colHighlight   : #e7e7e7;
$dropDown       : false;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li > a {
            color: $colDefault;
            &:hover,  &:focus {
              color: $colHighlight;
              background-color: $bgHighlight; }}
          .divider {
            background-color: $bgHighlight;}}}
    }
    > .active {
      > a, > a:hover, > a:focus {
        color: $colDefault;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus, {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
    background-color: $main;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;

}

.dropdown-menu{
  background-color: $main;
}

.icon-size
{
    font-size: 87px;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@import 'home.scss';
@import 'character-item.scss';
@import 'character-add.scss';
@import 'character-detail.scss';
