<!-- <h2>character-add</h2> -->
<div class="component-background">
  <div data-bind="visible: $root.isLoggedIn()">
    <div>Is logged in</div>
  </div>
  <div data-bind="visible: !$root.isLoggedIn()">
    <div>Is not logged in</div>
  </div>

  <div class="container">

    <!-- Field: Name -->
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="input-group">
          <div class="input-group-addon">Name</div>
          <input type="text" class="form-control" data-bind="value: name">
        </div>
      </div>
    </div>

    <!-- Stats -->
    <div class="row">

      <!-- Strength -->
      <div class="col-md-3 col-xs-6">
        <div class="input-group">
          <div class="input-group-addon">ST</div>
          <input type="number" class="form-control" data-bind="value: st">
        </div>
      </div>

      <!-- Dex -->
      <div class="col-md-3 col-xs-6">
        <div class="input-group">
          <div class="input-group-addon">DX</div>
          <input type="number" class="form-control" data-bind="value: dx">
        </div>
      </div>

      <!-- IQ -->
      <div class="col-md-3 col-xs-6">
        <div class="input-group">
          <div class="input-group-addon">IQ</div>
          <input type="number" class="form-control" data-bind="value: iq">
        </div>
      </div>

      <!-- HT -->
      <div class="col-md-3 col-xs-6">
        <div class="input-group">
          <div class="input-group-addon">HT</div>
          <input type="number" class="form-control" data-bind="value: ht">
        </div>
      </div>

    </div>

    <!-- Substats -->
    <div class="row">

      <!-- HP -->
      <div class="col-md-3 col-xs-6">
        <div class="input-group">
          <div class="input-group-addon">HP</div>
          <input type="number" class="form-control" data-bind="value: hp">
        </div>
      </div>

      <!-- Willpower -->
      <div class="col-md-3 col-xs-6">
        <div class="input-group">
          <div class="input-group-addon">Will</div>
          <input type="number" class="form-control" data-bind="value: will">
        </div>
      </div>

      <!-- Per -->
      <div class="col-md-3 col-xs-6">
        <div class="input-group">
          <div class="input-group-addon">Per</div>
          <input type="number" class="form-control" data-bind="value: per">
        </div>
      </div>

      <!-- FP -->
      <div class="col-md-3 col-xs-6">
        <div class="input-group">
          <div class="input-group-addon">FP</div>
          <input type="number" class="form-control" data-bind="value: fp">
        </div>
      </div>

    </div>

    <hr>
    <!-- Languagesection -->
    <div class="row">

      <div class="col-md-6">
        <span class="language-heading">Languages</span>

        <div class="row">
          <div class="col-md-3 col-xs-3">Name</div><div class="col-md-3 col-xs-3">Written</div><div class="col-md-3 col-xs-3">Spoken</div><div class="col-md-3 col-xs-3"></div>
        </div>

        <div class="language-list" data-bind="foreach: languageList">
          <div class="row">
            <div class="col-md-3 col-xs-3" data-bind="text: name"></div>
            <div class="col-md-3 col-xs-3" data-bind="text: written"></div>
            <div class="col-md-3 col-xs-3" data-bind="text: spoken"></div>
            <div class="col-md-3 col-xs-3"><button class="btn btn-danger" data-bind="click: $parent.deleteLanguageFromList">Delete</button></div>
          </div>
          <hr>
        </div>
      </div>

      <div class="col-md-6">
        <span class="language-heading">Add your language</span>
        <div class="input-group">
          <div class="input-group-addon">Name</div>
          <input type="text" data-bind="value: currentLanguage().name" class="form-control">
        </div>
        <div class="input-group">
          <div class="input-group-addon">Spoken</div>
          <input type="text" data-bind="value: currentLanguage().spoken" class="form-control">
        </div>
        <div class="input-group">
          <div class="input-group-addon">Written</div>
          <input type="text" data-bind="value: currentLanguage().written" class="form-control">
        </div>

        <span data-bind="text: currentLanguage().name"></span>
        <button class="add-button" data-bind="click: addCurrentLanguageToList">Add language</button>
      </div>

    </div>

    <hr>

    <!-- Advantages -->
    <div class="row">
      <div class="col-md-6">
        <span class="language-heading">Advantages</span>
        <div class="row">
          <div class="col-md-3 col-xs-3">Name</div><div class="col-md-3 col-xs-3"></div>
        </div>

        <div class="language-list" data-bind="foreach: advantageList">
          <div class="row">
            <div class="col-md-3 col-xs-3" data-bind="text: $data"></div>
            <div class="col-md-3 col-xs-3"><button class="btn btn-danger" data-bind="click: $parent.deleteAdvantageFromList">Delete</button></div>
          </div>
          <hr>
        </div>
      </div>

      <div class="col-md-6">
        <span class="language-heading">Add your advantage</span>
        <div class="input-group">
          <div class="input-group-addon">Name</div>
          <input type="text" data-bind="value: currentAdvantage" class="form-control">
        </div>

        <button class="add-button" data-bind="click: addCurrentAdvantageToList">Add advantage</button>
      </div>
    </div>

    <hr>

    <!-- Disadvantages -->
    <div class="row">
      <div class="col-md-6">
        <span class="language-heading">Disadvantages</span>
        <div class="row">
          <div class="col-md-3 col-xs-3">Name</div><div class="col-md-3 col-xs-3"></div>
        </div>

        <div class="language-list" data-bind="foreach: disadvantageList">
          <div class="row">
            <div class="col-md-3 col-xs-3" data-bind="text: $data"></div>
            <div class="col-md-3 col-xs-3"><button class="btn btn-danger" data-bind="click: $parent.deleteDisadvantageFromList">Delete</button></div>
          </div>
          <hr>
        </div>
      </div>

      <div class="col-md-6">
        <span class="language-heading">Add your disadvantage</span>
        <div class="input-group">
          <div class="input-group-addon">Name</div>
          <input type="text" data-bind="value: currentDisadvantage" class="form-control">
        </div>

        <button class="add-button" data-bind="click: addCurrentDisadvantageToList">Add Disadvantage</button>
      </div>
    </div>

    <hr>

    <!-- Skills -->
    <div class="row">
      <div class="col-md-6">
        <span class="language-heading">Skills</span>
        <div class="row">
          <div class="col-md-3 col-xs-3">Name</div><div class="col-md-3 col-xs-3"></div>
        </div>

        <div class="language-list" data-bind="foreach: skillList">
          <div class="row">
            <div class="col-md-3 col-xs-3" data-bind="text: $data"></div>
            <div class="col-md-3 col-xs-3"><button class="btn btn-danger" data-bind="click: $parent.deleteSkillFromList">Delete</button></div>
          </div>
          <hr>
        </div>
      </div>

      <div class="col-md-6">
        <span class="language-heading">Add your skill</span>
        <div class="input-group">
          <div class="input-group-addon">Name</div>
          <input type="text" data-bind="value: currentSkill" class="form-control">
        </div>

        <button class="add-button" data-bind="click: addCurrentSkillToList">Add Skill</button>
      </div>
    </div>

    <button class="add-character-button" data-bind="click: publishCharacter">Submit character</button>

  </div>
</div>
