/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(https://fonts.googleapis.com/css?family=Righteous);
/* line 18, sass/styles.scss */
body {
  font-family: 'Righteous', cursive;
  color: white;
  background-color: #1C1F1C;
}

/* line 24, sass/styles.scss */
.component-background {
  background-color: #262925;
  margin-top: -30px;
}

/* line 29, sass/styles.scss */
footer {
  background-color: #1C1F1C;
  color: white;
  border-top: 1px solid #497049;
}

/* line 35, sass/styles.scss */
.footer-content {
  text-align: center;
  margin: 50px;
}

/* line 40, sass/styles.scss */
#page {
  margin-top: 80px;
}

/* line 44, sass/styles.scss */
.testdiv {
  background-color: #1C1F1C;
}

/* line 48, sass/styles.scss */
.navminheight {
  height: 400px;
}

/* line 57, sass/styles.scss */
.navbar-default {
  background-color: #1c1f1c;
  border-color: #497049;
}
/* line 60, sass/styles.scss */
.navbar-default .navbar-brand {
  color: #ffffff;
}
/* line 62, sass/styles.scss */
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #e7e7e7;
}
/* line 64, sass/styles.scss */
.navbar-default .navbar-text {
  color: #ffffff;
}
/* line 68, sass/styles.scss */
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
/* line 70, sass/styles.scss */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #e7e7e7;
}
/* line 84, sass/styles.scss */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #497049;
}
/* line 88, sass/styles.scss */
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #e7e7e7;
  background-color: #497049;
}
/* line 91, sass/styles.scss */
.navbar-default .navbar-toggle {
  border-color: #497049;
}
/* line 93, sass/styles.scss */
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #497049;
}
/* line 95, sass/styles.scss */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
/* line 97, sass/styles.scss */
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
/* line 100, sass/styles.scss */
.navbar-default .navbar-link {
  color: #ffffff;
}
/* line 102, sass/styles.scss */
.navbar-default .navbar-link:hover {
  color: #e7e7e7;
}

@media (max-width: 767px) {
  /* line 106, sass/styles.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  /* line 108, sass/styles.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #e7e7e7;
  }
  /* line 111, sass/styles.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #e7e7e7;
    background-color: #497049;
  }
}
/* line 116, sass/styles.scss */
.navbar-login {
  width: 305px;
  padding: 10px;
  padding-bottom: 0px;
  background-color: #1C1F1C;
}

/* line 124, sass/styles.scss */
.navbar-login-session {
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}

/* line 132, sass/styles.scss */
.dropdown-menu {
  background-color: #1C1F1C;
}

/* line 136, sass/styles.scss */
.icon-size {
  font-size: 87px;
}

/* line 141, sass/styles.scss */
.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
/* line 1, sass/_home.scss */
.main-background {
  width: 100%;
  height: 500px;
  background: linear-gradient(rgba(28, 31, 28, 0.85), rgba(28, 31, 28, 0.85)), url("../assets/images/dice.jpg");
  background-position: center top;
  background-size: cover;
  margin-top: -40px;
}

/* line 20, sass/_home.scss */
.main-text {
  font-weight: bold;
  font-size: 30px;
  color: white;
  margin-top: 20%;
}

/* line 27, sass/_home.scss */
.get-started-button {
  border: solid 2px #68BB68;
  border-radius: 10px;
  background: linear-gradient(rgba(65, 30, 2, 0), rgba(65, 30, 2, 0));
  color: #68BB68;
  font-size: 25px;
  margin-top: 35px;
  padding: 5px;
}

/* line 44, sass/_home.scss */
.get-started-button:hover {
  border: solid 2px #497049;
  color: #497049;
}

/* line 1, sass/_character-item.scss */
.character-name {
  color: #497049;
}

/* line 5, sass/_character-item.scss */
.character-item {
  background-color: #1C1F1C;
}

/* line 9, sass/_character-item.scss */
a {
  display: block;
  text-decoration: none;
}

/* line 1, sass/_character-add.scss */
.input-group-addon {
  background-color: #497049;
  border-color: #68BB68;
  color: #FFFFFF;
}

/* line 7, sass/_character-add.scss */
.form-control {
  background-color: #1C1F1C;
  color: #FFFFFF;
}

/* line 12, sass/_character-add.scss */
.input-group {
  margin-top: 20px;
}

/* line 16, sass/_character-add.scss */
.add-button {
  border: solid 2px #68BB68;
  border-radius: 10px;
  background: linear-gradient(rgba(65, 30, 2, 0), rgba(65, 30, 2, 0));
  color: #68BB68;
  font-size: 20px;
  margin-top: 20px;
  padding: 5px;
}

/* line 32, sass/_character-add.scss */
.add-button:hover {
  border: solid 2px #497049;
  color: #497049;
}

/* line 37, sass/_character-add.scss */
.language-heading {
  color: white;
  font-size: 25px;
}

/* line 43, sass/_character-add.scss */
.language-list .row {
  margin-top: 10px;
}

/* line 47, sass/_character-add.scss */
.language-list-item {
  background-color: #1C1F1C;
}
