/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(https://fonts.googleapis.com/css?family=Righteous);
/* line 18, sass/styles.scss */
body {
  font-family: 'Righteous', cursive;
}

/* line 22, sass/styles.scss */
footer {
  background-color: #1C1F1C;
  color: white;
}

/* line 27, sass/styles.scss */
.footer-content {
  text-align: center;
  margin: 50px;
}

/* line 32, sass/styles.scss */
#page {
  margin-top: 80px;
}

/* line 36, sass/styles.scss */
.testdiv {
  background-color: #1C1F1C;
}

/* line 40, sass/styles.scss */
.navminheight {
  height: 400px;
}

/* line 49, sass/styles.scss */
.navbar-default {
  background-color: #1c1f1c;
  border-color: #497049;
}
/* line 52, sass/styles.scss */
.navbar-default .navbar-brand {
  color: #ffffff;
}
/* line 54, sass/styles.scss */
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
/* line 56, sass/styles.scss */
.navbar-default .navbar-text {
  color: #ffffff;
}
/* line 60, sass/styles.scss */
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
/* line 62, sass/styles.scss */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
/* line 76, sass/styles.scss */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #497049;
}
/* line 80, sass/styles.scss */
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #497049;
}
/* line 83, sass/styles.scss */
.navbar-default .navbar-toggle {
  border-color: #497049;
}
/* line 85, sass/styles.scss */
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #497049;
}
/* line 87, sass/styles.scss */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
/* line 89, sass/styles.scss */
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
/* line 92, sass/styles.scss */
.navbar-default .navbar-link {
  color: #ffffff;
}
/* line 94, sass/styles.scss */
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  /* line 98, sass/styles.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  /* line 100, sass/styles.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  /* line 103, sass/styles.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #497049;
  }
}
/* line 108, sass/styles.scss */
.navbar-login {
  width: 305px;
  padding: 10px;
  padding-bottom: 0px;
}

/* line 115, sass/styles.scss */
.navbar-login-session {
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}

/* line 122, sass/styles.scss */
.icon-size {
  font-size: 87px;
}

/* line 127, sass/styles.scss */
.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
/* line 1, sass/home.scss */
.main-background {
  width: 100%;
  height: 500px;
  background: linear-gradient(rgba(28, 31, 28, 0.85), rgba(28, 31, 28, 0.85)), url("../assets/images/dice.jpg");
  background-position: center top;
  background-size: cover;
  margin-top: -40px;
}

/* line 20, sass/home.scss */
.main-text {
  font-weight: bold;
  font-size: 30px;
  color: white;
  margin-top: 20%;
}

/* line 27, sass/home.scss */
.get-started-button {
  border: solid 2px #68BB68;
  border-radius: 10px;
  background: linear-gradient(rgba(65, 30, 2, 0), rgba(65, 30, 2, 0));
  color: #68BB68;
  font-size: 25px;
  margin-top: 35px;
  padding: 5px;
}

/* line 44, sass/home.scss */
.get-started-button:hover {
  border: solid 2px #497049;
  color: #497049;
}
