<!--
  The navigation UI that is docked to the top of the window. Most of this markup simply
  follows Bootstrap conventions. The only Knockout-specific parts are the data-bind
  attributes on the <li> elements.
-->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">gcsc</a>
    </div>
    <div class="collapse navbar-collapse">

      <ul class="nav navbar-nav">
        <li data-bind="css: { active: route().page === 'home-page' }">
          <a href="#">Home</a>
        </li>

        <li data-bind="css: { active: route().page === 'about-page' }">
          <a href="#about">About</a>
        </li>
        <li data-bind="visible: isLoggedIn">
          <a href="#" ><span data-bind="text: currentUser().name"></span></a>
        </li>
      </ul>
      <!-- <form class="navbar-form navbar-right" data-bind="visible: !isLoggedIn()">
        <input type="text" data-bind="value: username" class="form-control"></input><span data-bind="text: username"></span>
        <input type="text" data-bind="value: password" class="form-control"></input>
        <button type="submit" class="btn btn-success" data-bind="click: login">Login</button>
      </form>
      <form class="navbar-form navbar-right" data-bind="visible: isLoggedIn()"> -->
        <!-- <ul class="nav navbar-nav"> -->
          <!-- <button class="btn btn-danger" type="submit" data-bind="click: logout">Logout <span data-bind="text: currentUser().name"></span></button> -->
        <!-- </ul> -->
      <!-- </form> -->

<!--                    -->
<!-- Login dropdown     -->
<!--                    -->

      <ul class="nav navbar-nav navbar-right" data-bind="visible: !isLoggedIn()">
                <li class="dropdown" id="menuLogin">
                  <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin">Login</a>
                  <div class="dropdown-menu" style="padding:17px;">
                    <form class="form" id="formLogin">
                      <input name="username" id="username" data-bind="value: username" type="text" class="form-control" placeholder="Username">
                      <input name="password" id="password" data-bind="value: password" type="password"  class="form-control" placeholder="Password"><br>
                      <button type="button" id="btnLogin" data-bind="click: login" class="btn">Login</button>
                    </form>
                  </div>
                </li>
      </ul>

<!--                    -->
<!-- Logged in dropdown -->
<!--                    -->
      <ul class="nav navbar-nav navbar-right" data-bind="visible: isLoggedIn()">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span> 
                        <strong><span data-bind="text: currentUser().name"></span></strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-login">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="text-center">
                                            <span class="glyphicon glyphicon-user icon-size"></span>
                                        </p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="text-left"><strong><span data-bind="text: currentUser().name"></span></strong></p>
                                        <p class="text-left small"><span data-bind="text: currentUser().email"></span></p>
                                        <p class="text-left">
                                            <a href="#" class="btn btn-primary btn-block btn-sm">Settings</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="navbar-login navbar-login-session">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>
                                            <a href="#" class="btn btn-danger btn-block">Logout</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
              </li>
        </ul>


    </div>
  </div>
</div>
